<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:label="@string/app_name"
		android:icon="@mipmap/icon"
		android:roundIcon="@mipmap/icon_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.ServerMonitor"
		android:enableOnBackInvokedCallback="true"
		tools:targetApi="33">

		<activity
			android:name=".activity.ServiceActivity"
			android:exported="false" />

		<activity
			android:name=".activity.ServerActivity"
			android:exported="false" />

		<activity
			android:name=".activity.ServersActivity"
			android:exported="false" />

		<activity
			android:name=".activity.SettingsActivity"
			android:exported="false" />

		<activity
			android:name=".activity.SetupActivity"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- directBootAware prevents launching the worker before the user unlocks device after cold boot -->
		<service
			android:name="androidx.work.impl.foreground.SystemForegroundService"
			android:foregroundServiceType="dataSync"
			android:directBootAware="false"
			tools:node="merge" />

	</application>

</manifest>
